<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="false">Transactions</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="blocks-tab" data-toggle="tab" href="#blocks" role="tab" aria-controls="blocks" aria-selected="false">All Blocks</a>
		</li>
	</ul>
	<div class="tab-content py-4" id="myTabContent">
		<div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="home-tab">

			<div class="row">
				<div class="col-4">
					<form action="/submit" id="textform" method="post">
						<div class="form-group">
							<label>Your name</label>
							<input type="text" class="form-control" name="author" placeholder="Your name" value="{{session['profile_name']}}" required="true">
						</div>
						<div class="form-group">
							<label>Target coount</label>
							<input type="text" class="form-control" name="target" placeholder="Target coount" required="true" value="{{session['profile_target']}}">
						</div>
						<div class="form-group">
							<label>Transaction type</label>
							<select class="form-control" name="type">
								<option value="offer">Offer</option>
								<option value="send_money">Send Money</option>
							</select>
						</div>
						<div class="form-group">
							<label>Money</label>
							<input type="text" class="form-control" name="amount" placeholder="Amount">
						</div>
						<div class="form-group">
							<label>Content</label>
							<textarea name="content" class="form-control" rows="4" cols="50" placeholder="Just write whatever you want to..."></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="col-8">
					<h1>Offer list</h1>
					<table class="table table-hover">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Seller</th>
								<th scope="col">Product</th>
								<th scope="col">Price</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
						{% for offer in blockchain.offers %}
							<tr>
								<td>{{offer.seller[-18:]}}</td>
								<td>{{offer.product_key_hash}}</td>
								<td>${{offer.price}}</td>
								<td>
									{% if offer.seller != wallet.hash %}
									<form action="/submit" method="post">
										<input type="hidden" name="author" value="Buyer" />
										<input type="hidden" name="type" value="purchase" />
										<input type="hidden" name="target" value="{{offer.address}}" />
										<input type="hidden" name="amount" value="{{offer.price}}" />
										<input type="hidden" name="content" value="Buy {{offer.product_key_hash}}" />
										<button type="submit" class="btn btn-success">Purchase</button>
									</form>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
			<div class="row">
				<div class="col-12">
					<h1>Transaction log</h1>
					{% for post in posts %}
					<div class="post_box">
						<div class="media">
							{% if post.from_account != wallet.hash %}
								{% if post.type == 'send_money' %}
								<img width="64" src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency/512/Binance-Coin-icon.png" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								{% if post.type == 'undefined' %}
								<img width="64" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdXLCKwZXIMhcSZ5w4PSEYASvC0Hfd9tDBh92H3wBA5uKXcPuT&usqp=CAU" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								{% if post.type == 'offer' %}
								<img width="64" src="https://us.123rf.com/450wm/alexwhite/alexwhite1609/alexwhite160902387/62387260-best-offer-square-glossy-chrome-silver-metallic-web-icon.jpg?ver=6" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								{% if post.type == 'purchase' %}
								<img width="64" src="https://www.pinclipart.com/picdir/middle/155-1559554_purchasing-icon-png-clipart.png" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								{% if post.type == 'verification' %}
								<img width="64" src="https://getdrawings.com/free-icon/check-mark-icon-png-65.png" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								<div class="media">
								{% if post.type == 'offer' %}
									<div class="media-body">
										<form action="/submit" method="post">
											<div class="post_box-subtitle"> At <i>{{readable_time(post.timestamp)}}</i></div>
											<h5 class="mt-0">{{post.author}} #{{post.from_account[:18]}}</h5>
											<h3>${{post.amount}}</h3>
											{{post.content}}
											<input type="hidden" name="type" value="purchase" />
											<input type="hidden" name="target" value="{{post.from_account}}" />
											<button type="submit" class="btn btn-success">Accept</button>
										</form>
									</div>
								{% else %}
									{% if post.type == 'purchase' %}
									<div class="media-body">
										<form action="/submit" method="post">
											<div class="post_box-subtitle"> At <i>{{readable_time(post.timestamp)}}</i></div>
											<h5 class="mt-0">{{post.author}} #{{post.from_account[:18]}}</h5>
											<h3>${{post.amount}}</h3>
											{{post.content}}
											<input type="hidden" name="type" value="purchase" />
											<input type="hidden" name="target" value="{{post.from_account}}" />
											<button type="submit" class="btn btn-success">Accept</button>
										</form>
									</div>
									{% else %}
									<div class="media-body">
										<div class="post_box-subtitle"> At <i>{{readable_time(post.timestamp)}}</i></div>
										<h5 class="mt-0">{{post.author}} #{{post.from_account[:18]}}</h5>
										{% if post.type == 'send_money' %}
										<h3>${{post.amount}}</h3>
										{% endif %}
										{{post.content}}
									</div>
									{% endif %}
								{% endif %}
								</div>
							{% else %}
								<div class="media-body">
									<div class="post_box-subtitle"> At <i>{{readable_time(post.timestamp)}}</i></div>
									<h5 class="mt-0">{{post.author}} #{{post.from_account[:18]}}</h5>
									{% if post.type == 'send_money' %}
									<h3>${{post.amount}}</h3>
									{% endif %}
									{{post.content}}
								</div>
								{% if post.type == 'send_money' %}
								<img width="64" src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency/512/Binance-Coin-icon.png" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								{% if post.type == 'undefined' %}
								<img width="64" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdXLCKwZXIMhcSZ5w4PSEYASvC0Hfd9tDBh92H3wBA5uKXcPuT&usqp=CAU" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								{% if post.type == 'offer' %}
								<img width="64" src="https://us.123rf.com/450wm/alexwhite/alexwhite1609/alexwhite160902387/62387260-best-offer-square-glossy-chrome-silver-metallic-web-icon.jpg?ver=6" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								{% if post.type == 'purchase' %}
								<img width="64" src="https://www.pinclipart.com/picdir/middle/155-1559554_purchasing-icon-png-clipart.png" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
								{% if post.type == 'verification' %}
								<img width="64" src="https://getdrawings.com/free-icon/check-mark-icon-png-65.png" class="mr-3" alt="{{post.from_account}}">
								{% endif %}
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
		<div class="tab-pane fade" id="blocks" role="tabpanel" aria-labelledby="blocks-tab">
			<div class="row">
				<div class="col-12">
					<table class="table table-hover">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Code</th>
								<th scope="col">Time</th>
							</tr>
						</thead>
						{% for chan in blockchain.chain %}
						<tbody>
							<tr>
								<th scope="row">{{ chan.index }}</th>
								<td>{{chan.hash}}</td>
								<td>{{readable_time(chan.timestamp)}}</td>
							</tr>
						</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>

	<hr />
{% endblock %}
