<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-4">
			<form action="/submit" id="textform" method="post">
				<div class="form-group">
					<label>Your name</label>
					<input type="text" class="form-control" name="author" placeholder="Your name">
				</div>
				<div class="form-group">
					<label>Target coount</label>
					<input type="text" class="form-control" name="target" placeholder="Target coount">
				</div>
				<div class="form-group">
					<label>Money</label>
					<input type="text" class="form-control" name="amount" placeholder="Amount">
				</div>
				<div class="form-group">
					<label>Message</label>
					<textarea name="content" class="form-control" rows="4" cols="50" placeholder="Just write whatever you want to..."></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col-8">
			<h1>Chat</h1>
			{% for post in posts %}
			<div class="post_box">
				<div class="post_box-header">
					<div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">{{post.author[0]}}</div>
					<div class="name-header">{{post.author}}</div>
					<div class="post_box-subtitle"> Posted at <i>{{readable_time(post.timestamp)}}</i></div>
				</div>
				<div>
					<div class="post_box-body">
						<p>{{post.content}}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
